@model Prevu.Models.Objective

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Objective</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Issue.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Issue.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateModified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateModified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ObjectiveStatus.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ObjectiveStatus.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Staff.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Staff.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
