@model Prevu.Models.Objective

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Objective</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Issue.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Issue.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateModified)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateModified)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TargetDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TargetDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ObjectiveStatus.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ObjectiveStatus.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BlockedObjectiveId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BlockedObjectiveId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Staff.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Staff.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ObjectiveId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
