<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - UNICEF Prevu v1.0</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/bundles/jquerydatepickercss")
        @Scripts.Render("~/bundles/modernizr")
        <style>
            @@media all {
	            .page-break {display: none; }
            }

            @@media print {
	            .page-break { display:block; page-break-before: always; }
            }
        </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="~/Images/unicef.png" /></p>
                </div>
                
                <div class="float-right">
                    <section id="login">
                        
                    </section>
                    <nav>
                        
                        <ul id="menu">
                            <span class="site-title" style="margin-right: 10px;">@Html.ActionLink("UNICEF Prevu", "Index", "Home")</span>
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - UNICEF</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquerydatepickerjs")
        @RenderSection("scripts", required: false)
    </body>
</html>
