@model Prevu.Models.Actor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@{Html.RenderPartial("~/Views/Shared/Actor/_GeneralDetails.cshtml");}
<br />
@Html.ActionLink("Edit", "Edit", new { id = Model.ActorId })

<h2>Member Actors</h2>
@{Html.RenderPartial("~/Views/Shared/MemberActors/_Details.cshtml");}



@if (ViewBag.childrenCount > 0)
{
    
    <h3>Add Child Member</h3>
    
    using (Html.BeginForm("CreateChild", "Actor", new { parent = Model.ActorId }))
    {                              
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Actors</legend>

            @Html.DropDownList("newChild")&nbsp;<input type="submit" value="Create" />
        </fieldset>
    }
    
    
    
    
    
    
}
else
{
    <p>No more possible actors to add!</p>
}

<hr />
@Html.ActionLink("Delete Actor " + Model.Name, "Delete", new { id = Model.ActorId })

<p>@Html.ActionLink("Back to List", "Index")</p>

@if (Model.ChildActors.Count > 0)
{
    <script>
        document.getElementById("childActorDelete").style.display = "block";
    </script>
}